// media queries for this project
$mediaBigLaptops: 1450px;
$mediaLaptops: 1200px;
$mediaSmallDesktops: 991px;
$mediaTablets: 768px;
$mediaSmallTablets: 650px;
$mediaPhones: 420px;
$mediaSmallPhones: 350px;
